/*Import font*/
@font-face {
    font-family: 'ambleregular';
    src: url('fonts/Amble-Regular-webfont.eot');
    src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
         url('fonts/Amble-Regular-webfont.woff') format('woff'),
         url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
         url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
	font-family: ambleregular, 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
	background-color: #f8f8ff;
	margin: 0px;
	font-size: 1em;
}
#bloc_page, #header
{
	width: 75%;
	margin: auto;
}
nav a, #apropos
{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.3em;
	color: #181818;
	text-decoration: none;
}
nav a:hover
{
    color: #6e8b3d;
    border-bottom: 3px solid #6e8b3d;
}
header p
{
	font-weight: bold;
	text-align: center;
}
header
{
	background-color: #8ee5ee;
	margin-bottom: 50px;
}
#header /*header division*/
{
	display: flex;
	justify-content: space-between;
}
#logos
{
	display: flex;
	justify-content: space-between;
}
nav
{
	display: flex;
	flex:1;
    justify-content: flex-end;
    align-items: center;
}
nav ul
{
	list-style-type: none;
	display: flex;
	flex:1;
	justify-content: space-around;
}
#android_banner, #ios_banner
{
	border-radius: 10px;
	float: left;
	margin: 2%;
}
.more
{
	position: absolute;
	bottom: 0px;
	right: 2%;
	background-color: #bdb76b;
	color: #fffaf0;
	border-radius: 3px;
	text-decoration: none;
}
#presentation_title
{
	width: 75%;
	text-align: left;
}
#section_1_div
{
	display: flex;
	justify-content: space-between;
}
#article_1
{
	width: 70%;
	padding: 10px;
	
}
#aside_1
{
	width: 25%;
	display: flex;
}
#aside_1 div
{
	padding: 10px;
	background-color: #eedfcc;
	border-radius: 3%;
	flex-direction: column;
	text-align: center;
}
#section_2, #section_3
{
	width: 70%;
	padding: 10px;
	text-align: center;
	position: relative;
}
#author_photo
{
	text-align: center;
}
p
{
	text-align: justify;
}
#social
{
	display: flex;
	justify-content: space-around;
}
footer
{
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

/*CSS for mobile phones*/

@media all and (min-width: 554px ) and (max-width: 1024px)
{
	body
{
	width: auto;
	font-size: 1.1em;
}
#bloc_page
{
	width: 100%;
}
header
{
	width: auto;
}
#header
{
	width: auto;
}
nav ul
{
	flex-wrap: wrap;
}
nav li
{
	margin-right: 10%;
}
section
{
	width: auto;
}
#section_1, #article_1, #aside_1
{
	width: auto;
}
#section_1_div
{
	flex-wrap: wrap;
}
#social
{
	flex-wrap: wrap;
}
}

@media all and (max-width: 553px)
{
	body, #bloc_page, header, #header
{
	width: auto;
	font-size: 1.2em;
}
	nav ul
{
	width: auto;
	height: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}
#section_1_div
{
	flex-direction: column;
}
#section_2, #section_3, #article_1, #aside_1
{
	width: auto;
}
}

@media all and (max-device-width: 480px)
{
	body
	{
		margin:auto;
		font-size: 1.2em;
	}
	#bloc_page, header, #header
{
	width: auto;
}
	nav ul
{
	width: auto;
	height: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
}
#section_1_div
{
	flex-direction: column;
}
#section_2, #section_3, #article_1, #aside_1
{
	width: auto;
}
}
