@font-face {
	font-family: 'ambleregular';
	src: url('fonts/Amble-Regular-webfont.eot');
	src: url('fonts/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/Amble-Regular-webfont.woff2') format('woff2'),
	url('fonts/Amble-Regular-webfont.woff') format('woff'),
	url('fonts/Amble-Regular-webfont.ttf') format('truetype'),
	url('fonts/Amble-Regular-webfont.svg#ambleregular') format('svg');
	font-weight: normal;
	font-style: normal;

}
body
{
	display: flex;
	font-family: ambleregular, Arial, serif;
	background-color: #f8f8ff;
	margin: 0%;
	font-size: 1em;
	/*border: 1px red solid;*/
}
header
{
	display: flex;
	margin-bottom: 1%;
}
#name
{
	text-align: center;
	flex: 1;
	margin-right: 5%
}
#border
{
	width: 15%;
	background-color: #6e8b3d; /*#556b2f;*/
	border-radius: 2%;
}
#bloc_page
{
	width: 85%;
	padding: 1%;
}

h2
{
	color: #6e8b3d;
}
ul{
	text-align: justify;
}
#corpo
{
	display: flex;
	justify-content: space-between;
}
#experience
{
	width: 50%;
	padding: 1%;
}
#skills
{
	width: 22%;
	padding: 1%;
}
#education
{
	width: 28%;
	padding: 1%;
}
footer
{
	margin-top: 3%;
	display: flex;
	justify-content: space-around;
	margin-bottom: 3%;
}

@media all and (min-width: 554px ) and (max-width: 1024px)
{
	body
	{
		width: auto;
		display: flex;
		flex-direction: column;
		font-size: 1.1em;
	}
	#bloc_page
	{
		width: auto;
	}
	#border
	{
		width: auto;
		height: 100px;
		border-radius: 0%;
	}
	#corpo
	{
		display: flex;
		flex-direction: column;
	}
	#experience, #skills, #education
	{
		width: auto;
		text-align: justify;
	}
}

@media all and (max-width: 553px)
{
	body
	{
		width: auto;
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
	}
	#bloc_page
	{
		width: auto;
	}
	#border
	{
		width: auto;
		height: 100px;
		border-radius: 0%;
	}
		#corpo
	{
		display: flex;
		flex-direction: column;
	}
	#experience, #skills, #education
	{
		width: auto;
		text-align: justify;
	}
}

@media all and (max-device-width: 480px)
{
	body
	{
		width: auto;
		display: flex;
		flex-direction: column;
		font-size: 1.2em;
	}
	#bloc_page
	{
		width: auto;
	}
	#border
	{
		width: auto;
		height: 100px;
		border-radius: 0%;
	}
		#corpo
	{
		display: flex;
		flex-direction: column;
	}
	#experience, #skills, #education
	{
		width: auto;
		text-align: justify;
	}
}
